<!DOCTYPE html>
<html lang="en">

<head>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>
<body>
      <h1 style="text-align: center;">This is a resize image </h1>
      <br><br>
      <div style="text-align: center;">
          <img src= "<%= rImgsize %>" alt="Smiley face">
      </div>
</body>
</html>